Skip to content
This repository
Search
Pull requests
Issues
Gist
 @ychsieh
 Watch 85
  Unstar 398
 Fork 168 GoesToEleven/GolangTraining
 Code  Issues 2  Pull requests 1  Wiki  Pulse  Graphs
Branch: master Find file Copy pathGolangTraining/.gitignore
3bf0314  on Nov 15, 2015
@GoesToEleven GoesToEleven changes gitignore
1 contributor
RawBlameHistory     51 lines (41 sloc)  538 Bytes
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# WebStorm
*.iml

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

#other
node_modules/
bower_components/
.tmp
.sass-cache
builds/**/images/*
*.ogg
*.mp3
*.mp4
*.png
*.jpeg

# security / ssl
*.pem
*.xxjson
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
